<section id="$idprefix$title-slide"$for(title-slide-attributes/pairs)$ $it.key$="$it.value$"$endfor$
    data-background-video="video/night.mp4" data-background-video-loop="true" data-background-video-muted="true"
    data-background-opacity=0.9 class="inverted">
  <h1 class="title">$title$</h1>
$if(subtitle)$
  <p class="subtitle" style="line-height:1.2!important">$subtitle$</p>
$endif$
$for(author)$
  <p class="author">$author$</p>
$endfor$
$for(institute)$
  <p class="institute">$institute$</p>
$endfor$
$if(date)$
  <p class="date">$date$</p>
$endif$
</section>
